body {
  margin: 0px;
  background-color: #000000;}
  body a {
    color: #bae6ff;
    text-decoration: none; }
    body a:hover {
      color: #56abdb; }
    body .content {
      background: url("gitrdone.png") no-repeat top right;
      height: 400px;
      width: 1400px;
      margin: 0 0 0 auto;
      padding-left: 40px; }
      body .content h1 {
      font-family: 'Courier New';font-size: 22px;
      color: #FFF;
      font-weight: normal;
      padding: 0px 0 0;
      margin: 0px;
      font-size: 50px; }
      body .content p {
      font-family: 'Text Me One';font-size: 22px;
      color: #FFF;
      font-size: 17px;
      margin: 0px 10px 10px 0px;
      padding: 0px; }

